.Grid_row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 70px;
}

.Grid_column{
    flex: 16.6% 1;
    max-width: 16.6%;
}

@media screen and (max-width: 800px) {
    .Grid_column {
      flex: 33.3%;
      max-width: 33.3%;
    }

    .Grid_row{
        padding: 0 40px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .Grid_column {
      flex: 100%;
      max-width: 100%;
    }

    .Grid_row{
        padding: 0 10px;
    }
  }