.Card_container {
    vertical-align: middle;
    margin: 14px 7px 30px 7px;
}

.Card_img {
    width: 100%;
    border-radius: 30px;
}

.Card_title {
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
}